/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Debug */
.debug{
    border: 1px solid red;
}

/* General */
.container{
    background-color: aqua;
    width: 100%;
    padding: 2rem;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* Utility Colors */
:root{
    --color-white: #ffffff;
    --color-black: #333333;
    --color-yellow: #fdc15f;
    --color-lilla: #9593e6;
    --color-light-blue: #b4deff;
    --color-blue: #0084fd;
}

.bg-blue{
    background-color: var(--color-blue);
}

.bg-lilla{
    background-color: var(--color-lilla);
}

.bg-white{
    background-color: var(--color-white);
}

.bg-black{
    background-color: var(--color-black);
}

.bg-light-blue{
    background-color: var(--color-light-blue);
}

/* Utility Flex */
.d-flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.jc-flex-end{
    justify-content: flex-end;
}

.a-items-center{
    align-items: center;
}

.a-content-center{
align-content: center;
}

/* Utility Text */
.text-white{
    color: var(--color-white);
}

.text-blue{
    color: var(--color-blue);
}

.text-lilla{
    color: var(--color-lilla);
}

.text-yellow{
    color: var(--color-yellow);
}

.text-align-center{
    text-align: center;
}
/* Utility borders */
.border-rounded{
    border-radius: 1.5rem;
   
}

/* Utility Buttons */
.btn{
    border-radius: 2rem;
    padding: 8px 50px;
    margin: auto;
}

.btn-blue{
    background-color: var(--color-blue);
    color: var(--color-white);
}

/* Body */
body{
    font-family: "PT Sans", sans-serif;
    background-color: var(--color-white);
}

/* Header */
header nav li a{
    color: var(--color-white);
}

header nav ul{

}

header nav{
    position: relative;
}

/* Main */
.card{
    padding: 2rem;
}

h3{
    padding-bottom: 1.2rem;
}

p{
    padding-bottom: 2.5rem;
    line-height: 1.8em;
}